SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", ACTION=="add", RUN+="/usr/lib/pi-top-usb-setup/handle-usb-drive-for-pi-top-setup add $env{DEVNAME} $env{ID_FS_TYPE}"
SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", ACTION=="remove", RUN+="/usr/lib/pi-top-usb-setup/handle-usb-drive-for-pi-top-setup removed $env{DEVNAME} $env{ID_FS_TYPE}"
