[Unit]
Description=pi-top USB Setup
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
Restart=no
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/bin/pt-usb-setup
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
